
.main{
    margin-top:30px;
    margin-bottom:50px;
}
.container1 {
    min-width: 100px;
    max-width: 1600px;
}


.col-md-12 {
    width: 100%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
    
}

.grid {
    background-position: center;
    position: relative;
    width: 20.00%;
    float: left;
    height: 300px;
    color: #ffffff;
}
a.heading{
    position:absolute;
    width:100%;
    height:300px;
    line-height:200px;
    text-align:center;
    text-decoration:none;
    color: #ffffff;
    font-size:24px;
    z-index: 1;
    border: 1px solid #808080;
}
a.heading span{
    position: relative;
    top: 65px;
    padding: 8px;
    border:2px solid #808080;
    background-color: rgba(144, 196, 172, 0.5);
}
.details {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #808080;
    color: #ffffff;
    font-size: 10px;
    opacity: 0;
    z-index: 0;
    top: 0;
    left: 0;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.details a.close{
    display:block;
    color: #ffffff;
    margin-right: 15px;
    margin-top:5px;
    text-align:right;
    text-decoration:none;
}

.details h2{
    color: #ffffff;
    margin-top:5px;
}

.details p{
    margin-top: 5px;
    padding:20px 15px;
    box-sizing: border-box;
    text-align:center;
    color:#ffffff;
}

.grid:nth-child(3n+1) .details:before{
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid #ff0000;
}
.grid:nth-child(3n+2) .details:before{
    position: absolute;
    content: "";
    top: 0;
    left:-10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ff0000;
}
.grid:nth-child(3n+3) .details:before{
    position: absolute;
    content: "";
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ff0000;
    transform: rotate(180deg);
}

.grid:nth-child(3n+1) .details:target{
    opacity:1;
    left: 100%;
    z-index: 99;
}
.grid:nth-child(3n+2) .details:target {
    opacity: 1;
    left: 100%;
    z-index: 99;
}
.grid:nth-child(3n+3) .details:target {
    opacity: 1;
    left: -100%;
    z-index: 99;
}



